/target/
**/*.rs.bk
/.idea/*
/.idea/.gitignore
*.xml
/.vscode/*        # VS Code
*.iml
*.swp
*.swo


*.db
*.db-journal
*.sqlite
*.sqlite3
/mapping.db
/mappings.db


*.log
*.tmp
*.temp
*.cache


.env
.config
.local


*.tar
*.tar.gz
*.zip
*.so
*.dylib
*.dll
*.exe
